body{
margin:0;
font-family:"Segoe UI", Arial;
background:#ffffff;
color:#111;
transition:0.4s;
}

body.dark{
background:#0f172a;
color:#e5e7eb;
}

.nav{
display:flex;
justify-content:space-between;
padding:18px 50px;
border-bottom:1px solid #ddd;
position:sticky;
top:0;
background:white;
}

.logo{height:40px;}

.hero{
display:grid;
grid-template-columns:1.2fr 1fr;
padding:100px 60px;
gap:40px;
align-items:center;
}

.hero img{
width:100%;
border-radius:16px;
}

.hero h1{
font-size:48px;
}

.btn{
background:#0078d4;
color:white;
padding:12px 18px;
border-radius:8px;
display:inline-block;
text-decoration:none;
}

.strip{
display:grid;
grid-template-columns:repeat(3,1fr);
padding:40px 60px;
background:#f5f7fb;
}

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:60px;
}

.card{
padding:20px;
background:#f5f7fb;
border-radius:12px;
}

.news-card{
padding:30px;
margin:20px 60px;
background:#f5f7fb;
border-radius:12px;
}
